* {
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.kv {
  position: sticky;
  top: 0;
  z-index: -1;
  display: grid;
  place-items: center;
  height: 100vh;
}

.navigation {
  position: sticky;
  top: 200px;
  margin-left: 16px;
  font-size: 24px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 140px;
    padding: 12px;
    background-color: rgb(255 255 255 / 20%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(6px);
    border: 2px solid rgb(255 255 255 / 30%);
    border-radius: 10px;

    li {
      display: inline;

      a {
        color: #e7d36e;
        text-underline-offset: 4px;
        transition: color 0.2s;

        &:hover {
          color: white;
        }
      }
    }
  }
}

.section {
  height: 100vh;
  padding: 32px;
}

h2 {
  color: #ff90e3;
}

.footer {
  height: 100px;
  background-color: #ffbb90;
}